.fromm {
    .breadcrumbs {
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.52px;
        cursor: pointer;
        margin: 15px 0;
    }
    
    .to-home {
        text-decoration: underline;
    }
}