@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserrat-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserrat-Medium.woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserrat-Bold.woff2');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserrat-ExtraBold.woff2');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans_Condensed-Light.woff2');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans_Condensed-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans_Condensed-Medium.woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans_Condensed-SemiBold.woff2');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans_Condensed-Bold.woff2');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'SF_PRO';
    src: url('../fonts/SFProText-Semibold.woff2');
    font-style: normal;
    font-weight: 300;
}