<section class="benefits">
    <div class="container">
        <h2 class="section__title">Что вы получите при покупке у нас?</h2>
        <div class="benefits-wrapper">
            <div class="benefit">
                <h3 class="benefit__title">Квалифицированное обслуживание клиентов:</h3>
                <p>Наша команда профессионалов готова ответить на ваши вопросы, предоставить экспертные рекомендации и обеспечить вас необходимой информацией. Мы ценим каждого клиента и стремимся сделать ваш опыт с нами максимально комфортным.</p>
            </div>
            <div class="benefit">
                <h3 class="benefit__title">Высокое качество продукции:</h3>
                <p>Мы гордимся предлагать только продукцию выдающегося качества. Аккумуляторные стреппинг инструменты Fromm Р329 и Р328 - это не просто инструменты, это гарантированная надежность и долговечность в каждом узле и детали.</p>
            </div>
            <div class="benefit">
                <h3 class="benefit__title">Сервисный ремонт инструментов:</h3>
                <p>В случае необходимости ремонта, наши квалифицированные техники готовы восстановить работоспособность вашего инструмента. Наш сервисный центр гарантирует оперативное восстановление.</p>
            </div>
            <div class="benefit">
                <h3 class="benefit__title"> Замена запчастей:</h3>
                <p>Устанавливаем оригинальные запчасти для аккумуляторных стреппинг инструментов Fromm, чтобы поддерживать высокий стандарт качества и обеспечивать долговечность вашего оборудования.</p>
            </div>
        </div>
        <div class="benefits__description">
            Устанавливаем оригинальные запчасти для аккумуляторных стреппинг инструментов Fromm, чтобы поддерживать высокий стандарт качества и обеспечивать долговечность вашего оборудования.
        </div>
    </div>
</section>