<section class="cards">
    <div class="container">
        <div class="card">
            <div class="card__header">
                <h3 class="card__title">Р327</h3>
                <p class="card__description">Fromm Р327 сделает вашу упаковку проще, быстрее, надежнее</p>
            </div>
            <div class="card__body">
                <img src="images/p327.png" alt="">
                <ul class="card__characteristics">
                    <li class="card__characteristic">
                        <div class="card__property">Ширина ленты (мм):</div>
                        <div class="card__value">от 16 до 19</div>
                    </li>
                    <li class="card__characteristic">
                        <div class="card__property">Толщина ленты (мм):</div>
                        <div class="card__value">от 0.4 до 1.35</div>
                    </li>
                    <li class="card__characteristic">
                        <div class="card__property">Усилие натяжения ленты (Н):</div>
                        <div class="card__value">от 600 до 3500</div>
                    </li>
                </ul>
            </div>
            <div class="card__footer">
                <button class="btn">Подробнее о модели</button>
            </div>
            <div class="card-modal modal">
                <div class="modal-overlay">
                    <div class="card-modal__inner">
                        <div class="close-btn">
                            <span></span>
                            <span></span>
                        </div>

                        <div class="card__info">
                            <h2 class="modal__title">Froмм P327 - аккумуляторный инструмент для обвязки пластиковой лентой</h2>
                            <div class="card__info-charasteristics">
                                <div class="card__info-images">
                                    <img src="images/p327-1.png" alt="">
                                    <img src="images/p327-2.png" alt="">    
                                </div>                               
                                <h3 class="card__info-title">Характеристики:</h3>
                                <ul class="card__characteristics">
                                    <li class="card__characteristic">
                                        <div class="card__property">Производитель:</div>
                                        <div class="card__value">Fromm</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Выполняемые функции:</div>
                                        <div class="card__value">Комбинированный (натяжение, скрепление и отрезание ленты)</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Тип используемой ленты:</div>
                                        <div class="card__value">Полипропиленовая, полиэстеровая</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Ширина ленты (мм):</div>
                                        <div class="card__value">от 16 до 19</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Толщина ленты (мм):</div>
                                        <div class="card__value">от 0.4 до 1.35</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Усилие натяжения ленты (Н):</div>
                                        <div class="card__value">от 600 до 3500</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Способ скрепления ленты:</div>
                                        <div class="card__value">Сварка</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Тип привода:</div>
                                        <div class="card__value">Электрический от аккумулятора</div>
                                    </li>
                                </ul>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h3 class="card__title">Р328</h3>
                <p class="card__description">Fromm Р328: надежность на каждом этапе упаковки</p>
            </div>
            <div class="card__body">
                <img src="images/p328.png" alt="">
                <ul class="card__characteristics">
                    <li class="card__characteristic">
                        <div class="card__property">Ширина ленты (мм):</div>
                        <div class="card__value">от 12 до 16</div>
                    </li>
                    <li class="card__characteristic">
                        <div class="card__property">Толщина ленты (мм):</div>
                        <div class="card__value">от 0.4 до 1.05</div>
                    </li>
                    <li class="card__characteristic">
                        <div class="card__property">Усилие натяжения ленты (Н):</div>
                        <div class="card__value">от 250 до 2600</div>
                    </li>
                </ul>
            </div>
            <div class="card__footer">
                <button class="btn">Подробнее о модели</button>
            </div>
            <div class="card-modal modal">
                <div class="modal-overlay">
                    <div class="card-modal__inner">
                        <div class="close-btn">
                            <span></span>
                            <span></span>
                        </div>

                        <div class="card__info">
                            <h2 class="modal__title">Froмм Р328 - аккумуляторный инструмент для обвязки пластиковой лентой</h2>
                            <div class="card__info-charasteristics">
                                <div class="card__info-images">
                                    <img src="images/p328-1.png" alt="">
                                    <img src="images/p328-2.png" alt="">    
                                </div>                               
                                <h3 class="card__info-title">Характеристики:</h3>
                                <ul class="card__characteristics">
                                    <li class="card__characteristic">
                                        <div class="card__property">Производитель:</div>
                                        <div class="card__value">Fromm</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Выполняемые функции:</div>
                                        <div class="card__value">Комбинированный (натяжение, скрепление и отрезание ленты)</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Тип используемой ленты:</div>
                                        <div class="card__value">Полипропиленовая, полиэстеровая</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Ширина ленты (мм):</div>
                                        <div class="card__value">от 12 до 16</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Толщина ленты (мм):</div>
                                        <div class="card__value">от 0.4 до 1.05</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Усилие натяжения ленты (Н):</div>
                                        <div class="card__value">от 250 до 2600</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Способ скрепления ленты:</div>
                                        <div class="card__value">Сварка</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Тип привода:</div>
                                        <div class="card__value">Электрический от аккумулятора</div>
                                    </li>
                                </ul>
                                <h3 class="card__info-title">Преимущества:</h3>
                                <ul class="card__info-benefits">
                                    <li>Усилие натяжения до 2600 Н.</li>
                                    <li>Усилие натяжения и время сварки просто регулируются.</li>
                                    <li>Бесщеточный мотор требует меньше обслуживания и имеет долгий срок службы.</li>
                                    <li>Улучшенная конструкция направляющих позволяет снимать инструмент с ленты с меньшими усилиями.</li>
                                    <li>Отсутствие натяжного ролика облегчает снятие инструмента с небольших пакетов.</li>
                                    <li>Имеет контроль температуры мотора для защиты от перегрева.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h3 class="card__title">Р329</h3>
                <p class="card__description">Fromm Р329: профессиональная обвязка с легкостью</p>
            </div>
            <div class="card__body">
                <img src="images/p329.png" alt="">
                <ul class="card__characteristics">
                    <li class="card__characteristic">
                        <div class="card__property">Ширина ленты (мм):</div>
                        <div class="card__value">от 16 до 19</div>
                    </li>
                    <li class="card__characteristic">
                        <div class="card__property">Толщина ленты (мм):</div>
                        <div class="card__value">от 0.65 до 1.35</div>
                    </li>
                    <li class="card__characteristic">
                        <div class="card__property">Усилие натяжения ленты (Н):</div>
                        <div class="card__value">от 500 до 4000</div>
                    </li>
                </ul>
            </div>
            <div class="card__footer">
                <button class="btn">Подробнее о модели</button>
            </div>
            <div class="card-modal modal">
                <div class="modal-overlay">
                    <div class="card-modal__inner">
                        <div class="close-btn">
                            <span></span>
                            <span></span>
                        </div>

                        <div class="card__info">
                            <h2 class="modal__title">Froмм Р329 - аккумуляторный инструмент для обвязки пластиковой лентой</h2>
                            <div class="card__info-charasteristics">
                                <div class="card__info-images">
                                    <img src="images/p328-1.png" alt="">
                                    <img src="images/p328-2.png" alt="">   
                                </div>                               
                                <h3 class="card__info-title">Характеристики:</h3>
                                <ul class="card__characteristics">
                                    <li class="card__characteristic">
                                        <div class="card__property">Производитель:</div>
                                        <div class="card__value">Fromm</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Выполняемые функции:</div>
                                        <div class="card__value">Комбинированный (натяжение, скрепление и отрезание ленты)</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Тип используемой ленты:</div>
                                        <div class="card__value">Полипропиленовая, полиэстеровая</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Ширина ленты (мм):</div>
                                        <div class="card__value">от 12 до 16</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Толщина ленты (мм):</div>
                                        <div class="card__value">от 0.4 до 1.05</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Усилие натяжения ленты (Н):</div>
                                        <div class="card__value">от 250 до 2600</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Способ скрепления ленты:</div>
                                        <div class="card__value">Сварка</div>
                                    </li>
                                    <li class="card__characteristic">
                                        <div class="card__property">Тип привода:</div>
                                        <div class="card__value">Электрический от аккумулятора</div>
                                    </li>
                                </ul>
                                <h3 class="card__info-title">Преимущества:</h3>
                                <ul class="card__info-benefits">
                                    <li>Усилие натяжения до 4000 Н.</li>
                                    <li>Усилие натяжения и время сварки просто регулируются.</li>
                                    <li>Бесщеточный мотор требует меньше обслуживания и имеет долгий срок службы.</li>
                                    <li>Улучшенная конструкция направляющих позволяет снимать инструмент с ленты с меньшими усилиями.</li>
                                    <li>Отсутствие натяжного ролика облегчает снятие инструмента с небольших пакетов.</li>
                                    <li>Имеет контроль температуры мотора для защиты от перегрева.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>