<section class="fromm-description">
    <div class="container">
        <h2 class="section__title"></h2>
        <div class="fromm-description__text">
            <p>Инструменты компании Froмм надёжны и просты в эксплуатации. Созданы для эффективной работы при минимальных затратах на ремонт и техническое обслуживание.</p>
            <p>Наши клиенты всегда могут провести профилактическое обслуживание или ремонт инструмента Froмм на базе нашего Сервисного Центра.</p>
            <strong>Сервисный Центр осуществляет для вас:</strong>
            <ul>
                <li>Ремонт моделей Р329, Р328, Р327</li>
                <li>Гарантийный ремонт приобретенного у нас инструмента</li>
                <li>Гарантия на установленные детали</li>
                <li>Консультации по эксплуатации и обслуживанию инструмента</li>
            </ul>
        </div>
        <div class="fromm-description__img">
            <img src="images/img1.png" alt="">
        </div>
    </div>
</section>