<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=YOUR_API_KEY&lang=ru_RU"></script>
    <link rel="stylesheet" href="css/style.min.css">
</head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header__logo-wrapper">
                    <img src="images/logo.svg" alt="">
                    <p>Поставка промышленной системы автоматизации</p>
                </div>
                <nav class="header__nav">
                    <ul class="menu">
                        <li class="menu-item-has-children">
                            <a href="#!">Ассортимент</a>
                            <ul class="sub-menu">                                
                                <li>IGBT модули</li>
                                <li>Eaton Vickers</li>
                                <li>Rexroth</li>
                                <li>Parker</li>
                                <li>MOOG</li>
                                <li>ATOS</li>
                            </ul>
                        </li>
                        <li><a href="#!">FROMM</a></li>
                        <li><a href="#!">Доставка и оплата</a></li>
                        <li><a href="#!">Контакты</a></li>
                    </ul>
                </nav>
                <div class="header__phone">
                    <a href="tel:+79971821047">+7 (997) 182-10-47</a>
                </div>
            </div>
        </header>
       